@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Righteous&display=swap');

*{
    font-family: 'Righteous', cursive;
}
  /* NavBar CSS */

  .bg{
    background: black;
    padding: 20px;
  }
  
  .nav-item{
    font-size: 26px;
    margin-right: 20px;
  }
  
  .nav-link:hover{
    color: cornflowerblue !important;
  }

  /* NavBar CSS */
body {
    background-image: url('download.png'); background-position: center;background-repeat: repeat; background-size: contain !important;
    background-color: black !important;
}



.logo i {
    font-size: 40px;
}

.category-box {
    width: 70%;
    left: 50px;
    top: 28px;
    height: 400px;
    position: absolute;
    background-color: #f2f2f2;
    border: 2px solid black;
    display: none;
    padding: 20px;
    border-radius: 5px;
}

.create-box {
    width: 35%;
    left: 195px;
    top: 28px;
    height: 200px;
    position: absolute;
    background-color: #f2f2f2;
    border: 2px solid black;
    display: none;
    border-radius: 5px;
    padding: 20px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 15%; */
}

.search-box input {
    border-radius: 5px;
    border: 0;
    height: 27px;
    text-align: center;
}

.burger {
    display: none !important;
    margin-left: 40px;
    border: 1px solid;
    padding: 4px 8px;
    border-radius: 3px;
}

.burger:hover {
    color: yellow;
}

.container {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.quiz-section {
    width: 71%;
    /* height: 40vw; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #f4f4f4; */
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url('download.png'); background-position: center;background-repeat: repeat; background-size: contain !important;
    background-color: black !important;
}

.side-section {
    width: 29%;
    height: fit-content;
    /* background-color: #f4f4f4; */
    background-image: url('download.png'); background-position: center;background-repeat: repeat; background-size: contain !important;
    background-color: black !important;
    padding-bottom: 30px;
}


/* cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1px;
    max-width: 370px;
    text-align: center;
    font-family: arial;
    margin: 10px;
    height: fit-content;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}


/* cards */

@media only screen and (max-width: 1227px) {
    .container {
        flex-direction: column;
        width: 90vw;
    }
    .quiz-section {
        width: 100%;
    }
    .side-section {
        width: 100%;
    }
    .nav-items {
        display: none;
    }
    .navbar {
        justify-content: space-between;
    }
    .burger {
        display: block !important;
    }
}

.heading {
    display: block;
    width: 100%;
    text-align: center
}

.section1 {
    padding: 8px;
    width: 90%;
    border: 2px solid grey;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 7px grey;
}

.section1 hr{
    margin: 0;
}

.quiz-categories hr{
    margin: 0;
}
.section1 a {
    text-decoration: none !important;
    text-align: center;
    color: #000 !important;
}

.section1 a :hover {
    color: red;
}

.section1 a h2 {
    background-color: white;
}

.quiz-categories {
    width: 90%;
    border: 2px solid grey;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 7px grey;
    overflow: hidden;
    background-color: white;
}

.quiz-categories a {
    /* border-left: 1px solid grey; */
    border-right: 1px solid grey;
    padding: 0px 10px;
    text-decoration: none !important;
    color: black;
    font-weight: 500;
}

.quiz-categories a:last-child {
    border-right: 0px;
}

.quiz-categories a:hover {
    background-color: aquamarine;
}

.cat {
    display: flex;
    justify-content: space-around;
}

.top-quiz {
    width: 90%;
    border: 2px solid grey;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 7px grey;
    overflow: hidden;
    background-color: white;
}

.top-quiz a {
    text-decoration: none;
}

.quiz-box {
    display: flex;
    height: 145px;
}

.quiz-imgBox {
    width: 250px;
}

.quiz-imgBox img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.quiz-text-box {
    font-weight: 500;
    padding: 5px;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

#createQuiz {
    color: whitesmoke;
    background-color: #30c553;
    font-weight: bold;
    font-size: 20px;
    padding: 7px 21px;
    border-radius: 5px;
    border: 0px;
    margin: auto;
    display: block;
    margin-top: 30px;
    cursor: pointer;
}

#createQuiz:hover {
    transition: ease 0.2s;
    background-color: orange;
}

.sec1 {
    width: 50%;
    border-right: 1px solid black;
}

.sec2 {
    width: 50%;
    padding-left: 20px;
}

.sec1 a,
.sec2 a,
.sec3 a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.sec1 a:hover {
    background-color: #30c553;
}

.sec2 a:hover {
    background-color: #30c553;
}

.sec3 a:hover {
    background-color: #30c553;
}

.sec3 a {
    text-align: center;
}


/* +++++++++++++++++ */
.quizbut{
    margin: 3px;
}
/* +++++++++++++++++ */
